<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Employee Management System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="" type="text/css">
    </head>
    <body>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"> 
        <strong>Alert:</strong> {{ message }} 
        <span aria-hidden="true">&times;</span>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <h2>Hello! {{fname}}</h2><br>
        <h3>Successfully Logged in</h3>
        <a href="/list"><button type="submit">View employee list</button></a>
        <a href="/add"><button type="submit">Add employee</button></a>
        <a href="/search"><button type="submit">Search and Delete Employee</button></a>
        <a href="/signout"><button type="submit">Sign Out</button></a>
        {% else %}
        <div class="log">
        <h2>Login Page</h2>
        <a href="/signin"><button type="submit">Sign In</button></a>
        <a href="/signup"><button type="submit">Sign Up</button></a>
        {% endif %}
        </div>
        <script src="" async defer></script>
    </body>
</html>